<section id="all-categories">
    <table>
        <tr>
            <th>Category of a post</th>
            <th>Buttons</th>
        </tr>
        {{#each postCategories}}
            <tr>
                <td>{{name}}</td>
                <td>
                    <a href="/blog/category/edit/{{_id}}" class="circle category-edit">Edit</a>
                </td>
            </tr>
        {{/each}}
    </table>
</section>