<div class="wrapper fadeInDown" id="add-product-from">
    <div id="formContent">
        <h2 class="active">Add event</h2>

        <form method="post" enctype="multipart/form-data">
            <input type="text" class="fadeIn second" name="name" placeholder="Event name">
            <textarea type="text" class="fadeIn third" name="description" placeholder="Cause description"></textarea>
            <input type="number" class="fadeIn third" name="placesCount" placeholder="Count of the places" step="1" min="0">
            <input type="date" class="fadeIn third" name="date" placeholder="Date of the event">
            <input type="text" class="fadeIn third" name="address" placeholder="Address">
            <input type="text" class="fadeIn third" name="town" placeholder="Town">
            <input id="file" type="file"  name="image" accept=".jpg,.jpeg,.png" >
            <label for="file" class="fadeIn third">Choose photo</label>
            <input type="submit" class="fadeIn fourth" value="Add event">
        </form>
    </div>
</div>