<div class="wrapper fadeInDown" id="add-product-from">
    <div id="formContent">
        <h2 class="active">Send an email to all the users, signed up for the event!</h2>

        <form method="post">
            <input type="text" class="fadeIn second" name="title" placeholder="Title" value="{{title}}" required>
            <textarea type="text" class="fadeIn third" name="content" placeholder="Content">{{content}}</textarea>
            <input type="submit" class="fadeIn fourth" value="Send">
        </form>
    </div>
</div>