<div id="profile">
    <h2>Profile</h2>
    <img id="profile-img" src="/img/userIcon.png" alt="User Icon" />
    <p><span>First name:</span> {{firstName}}</p>
    <p><span>Last name:</span> {{lastName}}</p>
    <p>
        <span><i class="fas fa-envelope-square"></i></span>
        {{email}}
    </p>
    <p><span>Age:</span> {{age}}</p>
</div>