<div class="wrapper fadeInDown" id="register-form">
    <div id="formContent">
        <h2 class="active">Регисриране</h2>

        <div class="fadeIn first">
            <img src="/img/userIcon.png" id="icon" alt="User Icon" />
        </div>

        <form method="post">
            <input type="text" class="fadeIn second" name="username" placeholder="Потребителско име">
            <input type="password" class="fadeIn third" name="password" placeholder="Парола">
            <input type="password" class="fadeIn third" name="confirmedPassword" placeholder="Потвърждаване на парола">
            <input type="text" class="fadeIn third" name="firstName" placeholder="Име">
            <input type="text" class="fadeIn third" name="lastName" placeholder="Фамилия">
            <input type="number" class="fadeIn third" name="age" placeholder="Възраст">
            <input type="submit" class="fadeIn fourth" value="Регистриране">
        </form>
    </div>
</div>