<script src="/frontend/controllers/userController.js"></script>

<div class="wrapper fadeInDown" id="register-form">
    <div id="formContent">
        <h2 class="active">Sign up</h2>

        <div class="fadeIn first">
            <img src="/img/userIcon.png" id="icon" alt="User Icon" />
        </div>

        <form method="post">
            <input type="text" class="fadeIn second" name="username" placeholder="Username" required>
            <input type="email" class="fadeIn second" name="email" placeholder="Email" required>
            <input type="text" class="fadeIn second" name="verificationCode" placeholder="Actiovation code" required>
            <input type="hidden" class="fadeIn second" name="generatedCode" value="">
            <input id="verify" type="button" class="fadeIn second" value="Send code">
            <input type="password" class="fadeIn third" name="password" placeholder="Password" required>
            <input type="password" class="fadeIn third" name="confirmedPassword" placeholder="Confirm password" required>
            <input type="text" class="fadeIn third" name="firstName" placeholder="Name" required>
            <input type="text" class="fadeIn third" name="lastName" placeholder="Surname" required>
            <input type="number" class="fadeIn third" name="age" placeholder="Age">
            <input type="submit" class="fadeIn fourth" value="Sign up">
        </form>
    </div>
</div>