<div class="wrapper fadeInDown" id="login-form">
    <div id="formContent">
        <h2 class="active">Delete administrator!</h2>
        <form method="post">
            <input type="text" id="login" class="fadeIn second" name="username" placeholder="Username" required>
            <input type="text" class="fadeIn third" name="firstName" placeholder="Name" required>
            <input type="text" class="fadeIn third" name="lastName" placeholder="Surname" required>
            <input type="submit" class="fadeIn fourth" value="Delete">
        </form>
    </div>
</div>