<div class="wrapper fadeInDown" id="add-product-from">
    <div id="formContent">
        <h2 class="active">Add category</h2>

        <form method="post" action="/category/add">
            <input type="text" class="fadeIn second" name="name" placeholder="Name of category" required>
            <input type="submit" class="fadeIn third" value="Add">
        </form>
    </div>
</div>